<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_MacOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CI_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeedTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeediOSTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3157D29C2C5CFC9E00F4F14F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A510C92C53D4F100FF7C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A510EA2C53D69300FF7C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A5114A2C53DDE100FF7C86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31AEA7622C5D1FD200BF1C8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31AEA7692C5D1FD200BF1C8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31AEA77D2C5D224600BF1C8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
